@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
:root {
	--test-frame: 0px solid black;
}
body {
	font-family: "Outfit", sans-serif;
	color: hsl(218, 33%, 19%);
	margin: auto;
	max-width: 1000px;
	outline: var(--test-frame);
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	padding-bottom: 1000px;
}

a,
a:visited {
	color: #005ca5;
}
h1 {
	text-align: center;
}
.container {
	margin: 20px;
}
.topic {
	margin-left: 20px;
}
